<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
	<div class="container">
		<div class="section">
			<div class='row'>
				<div class='col col-left'>
					<h1>{{ .Site.Title }}</h1>
				</div>
				<div class='col col-mid'>
				</div>
				<div class='col col-right'>
					<a href="{{ "/index.xml" | relURL }}"><img id="rss" src="{{ "/img/rss.png" | relURL }}"/></a>
					<a href="{{ "/" | relURL }}"><img id="header" src="{{ "/img/rootimg.png" | relURL }}"/></a>
				</div>
			</div>
			<div class="content">
			{{- block "main" . }}{{- end }}
			</div>
		</div>
	</div>
    </body>
</html>
