{{- define "main" -}}

{{- $justify := false -}}
{{- if eq .Params.justify true -}} {{- $justify = true -}} {{- end -}}
<div class="article-container">
    {{- partial "article-header.html" . -}}
    <article class="article markdown-body" {{- if $justify -}}style="text-align: justify;" {{- end -}}>
        {{- with .Params.cover -}}<p><img class="cover" src="{{- . | safeURL -}}" alt></p>{{- end -}}
        {{- .Content -}}
    </article>
	<hr>
    {{- partial "article-labels.html" . -}}
</div>
</br>
{{- partial "article-bottom-navigation.html" . -}}
{{- end -}}
