{{- if or .Params.categories .Params.tags -}}
<section class="article labels">
    {{- range .Params.categories -}}
    {{- $url := print "/categories/" (. | urlize) "/" -}}
    <p>Category:&nbsp;<a class="category" href={{- $url | relLangURL -}}>{{- . -}}</a></p>
    {{- end -}}
	<p>Tags:&nbsp;
    {{- range .Params.tags -}}
    {{- $url := print "/tags/" (. | urlize) "/" -}}
    <a class="tag" href={{- $url | relLangURL -}}>{{- . -}}</a>&nbsp;
    {{- end -}}
	</p>
</section>
{{- end -}}
