<meta charset="utf-8">
{{- hugo.Generator -}}
<title>{{ .Site.Title }}</title>
<meta http-equiv='X-UA-Compatible' content='IE-edge'/>
<meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
<meta name='keywords' content='pyratebeard, pyrate, pirate, beard, linux, gnu/linux, hack, code, programmer, netsec, geek, geeky, devops, comics, comic book, coffee, cold brew'>
<meta name='author' content='pyratebeard'>

{{ partial "custom-css.html" . }}
{{ partial "custom-js.html" . }}
