{{- if or .Params.categories .Params.tags -}}
    <p class="note labels">
        {{- range .Params.categories -}}
            {{- $url := print "/categories/" (. | urlize) "/" -}}
            <p>Category:&nbsp;<a class="category" href="{{- $url | relLangURL -}}">{{- . -}}</a></p>
        {{- end -}}
		<p>Tags:&nbsp;
        {{- range $i, $e := .Params.tags -}}
			{{- if $i -}}, {{ end -}}
            {{- $url := print "/tags/" (. | urlize) "/" -}}
            <a class="tag" href="{{- $url | relLangURL -}}">{{- . -}}</a>
        {{- end -}}
		</p>
    </p>
{{- end -}}
