{{- $paginator := . -}}

{{- if gt $paginator.TotalPages 0 -}}
{{- $dateFormat := site.Params.dateFormat -}}
{{- if not $dateFormat -}}{{- $dateFormat = "2006-01-02" -}}{{- end -}}
<ul class="note list">
    {{- range $paginator.Pages -}}
    <li class="item">
		<ul>
			<li><p class="note date">{{- .Date.Format $dateFormat -}}</p></li>
            <li><a class="note" href="{{- .RelPermalink -}}"><h4 class="note title">{{- .Title | safeHTML -}}</h4></a></li>
		</ul>
    </li>
    {{- end -}}
</ul>
{{- end -}}
